body {
  font-family: 'Montserrat', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 20rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 5rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 0.9rem;
}

h6 {
  font-weight: 1000;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Montserrat', serif;
  font-size: 1.25rem;
}

.list-social-icons a {
  color: #868e96;
}

.list-social-icons a:hover {
  color: #183153;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #183153;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 15rem;
    max-height: 15rem;
    border: 0.25rem solid #868e96;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #183153 !important;
}

.text-primary {
  color: #183153 !important;
}

a {
  color: #183153;
}

a:hover, a:focus, a:active {
  color: #00091a;
}

.dev-logo {
/*  color: #868e96;*/
  filter: invert(61%) sepia(15%) saturate(216%) hue-rotate(169deg) brightness(90%) contrast(80%);
}

.dev-logo:hover {
/*  color: #183153;*/
  filter: invert(14%) sepia(20%) saturate(2960%) hue-rotate(183deg) brightness(96%) contrast(91%);
}

.fi {
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  transition: all 0.4s ease-in-out;
  position: relative;
  display: inline-block;
}

.dropdown{
  display: none;
  position: absolute;
  width: 100%;
  overflow:auto;
  padding: 4px 4px 4px 4px;
  z-index: 1;
}


.fi:hover .dropdown{
  display: block;
}

.fi:hover {
  filter: none;
/*  transform: scale(1.05);*/
}

/*light blue #74C0FC
/*dark blue #183153*/
/*grey #495057*/
